/*Forma de trabajar*/
/*
$0{
    display
    display derivados

    width
    height

    margin
    padding

    background

    border

    z-index

    transform

    transition

    font

    text

    color
}
*/

*{
   margin: 0;
   box-sizing: border-box;
}

.section{
   z-index: var(--z-normal);
}

:root{
   /*color*/

   /*z-index*/
    --z-back: -10;
    --z-normal: 1;
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;

    /*fonts*/
    --font-family-titles: ;
    --font-family-normal: ;
    --font-family-isotipo: ;

    /*font´s size*/ 
    --font-size-title: 2rem;
    --font-size-normal: 14pt;
    --font-size-isotipo: 1.5;
    
    /*space*/
    --space-relation: 1rem;
    --space-noRelation: 3rem;
}

.header{
    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;

    whidth: 100%;
    min-height: 2rem;

    /*background: */
    
    z-index: var(--z-normal);
}

.header__isotipo{
    z-index: var(--z-normal);

    font-family: var(--font-family-isotipo);
    font-size: var(--font-size-isotipo);

    /*color: */
}

.cover{
    whidth: 100%;
    height: auto;
 
    margin-bottom: var(--space-noRelation);

    background: url(./img/cover.jpg) no-repeat center / cover scroll border-box border-box;
    
    z-index: var(--z-normal);
}

.main-content{
    display: flex;

    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    width: 100%;
    min-height: 331px;

    z-index: var(--z-normal);
}

.main-content__title{
    z-index: var(--z-normal);

    font-family: var(--font-family-title);
    font-size: var(--font-size-title);

    /*color: */
}

.main-content__call-to-action{
    width: 96%;    
    height: auto;
    
    /*background: */
    
    border-radius: 10px;

    font-family: var(--font-family-normal);
    font-size: var(--font-size-normal);

    text-align: center;

    /*color: */
}

.article{
    display: flex;
    
    width: 100%;
    height: auto;

    justify-content: space-around;
    aling-items: center;
    align-content: space-around;
    flex-wrap: wrap;
    
    margin-bottom: var(--space-noRelation);

    /*background: */
    
    z-index: var(--z-normal);
}

.article > *{
    margin-bottom: var(--space-relation);
}

.article__title{
    flex: 100% 1 1;

    z-index: var(--z-normal);

    font-family: var(--font-family-title);
    font-size: var(--font-size-title);

    text-align: center;

    /*color: */
}


.article__call-to-action{
    flex: 96% 0 0;
    
    /*background: */
    
    border-radius: 10px;

    z-index: var(--z-normal);    

    font-family: var(--font-family-normal);
    font-size: var(--font-size-normal);

    text-align: center;

    /*color: */
}

.article > *:last-child, .article > *:last-child > *:last-child{
    margin-bottom: 0;
}

.article__conteiner{
    flex: 375px 1 1;

    margin-bottom: 0;
    padding: 0 var(--space-relation);

    /*background: */
    
    z-index: var(--z-normal);
}

.article__conteiner > *{
    margin-bottom: var(--space-relation);
}

.article__text{
    width: 100%;
    height: auto;
    
    /*background: */
    
    z-index: var(--z-normal);

    font-family: var(--font-family-normal);
    font-size: var(--font-size-normal);

    /*color: */
}

.article__link{
    font-family: var(--font-family-normal);
    font-family: var(--font-family-normal);

    /*color: */
}

.article__list{
    width: 100%;
    height: auto;
    
    /*background: */
    
    z-index: var(--z-normal);
}

.article__list > li{
    margin-bottom: var(--space-relation);

    z-index: var(--z-normal);

    font-family: var(--font-family-normal);
    font-family: var(--font-size-normal);

    /*color: */
}

.article__list > li:last-child{
    margin-bottom: 0;
}

.footer{
    display: flex;

    width: 100%;
    height: auto;

    /*background: */
    
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    z-index: var(--z-normal);
}

.footer > *{
    margin-bottom: var(--space-relation);
}

.footer > *:last-child{
    margin-bottom: 0;
}

.footer__title{
    z-index: var(--z-normal);

    font-family: var(--font-family-title);
    font-size: var(--font-size-title);

    /*color: */
}

.footer__list{
    /*background: */
    
    z-index: var(--z-normal);
}

.footer__list > li{
    width: 100%;
    height: auto;

    margin-bottom: var(--space-relation);

    z-index: var(--z-normal);

    font-family: var(--font-family-normal);
    font-size: var(--font-size-normal);

    /*color: */
}

.footer__list > li:last-child{
    margin-bottom: 0;
}

.footer__isotipo{
    z-index: var(--z-normal);

    font-family: var(--font-family-isotipo);
    font-size: var(--font-size-isotipo);

    /*color: */
}
