*{
    box-sizing: border-box;
    margin-top: 0;
}

:root{
    --color-normal-letters: 000;
    --color-letters-of-cover: #FFCA00;
    --color-cover: #002A9D;
    --color-principal: #fff;
    --color-secondary: #0074E8;
    --color-complementary: #FFCA00;

    --z-back: -10;
    --z-normal: 1;
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;

    --font-family-titles: 'Oswald';
    --font-current-family: 'Open Sans';
    --font-isotipo: 'Lacquer';

    --font-size-normal: 14pt;
}

.header{
    display: flex;
    height: 2rem;
    justify-content: center;
    align-items: space-around;
    background: var(--color-principal);
    z-index: var(--z-normal);
}

.header__isotipo{ 
    font-family: var(--font-isotipo);
    color: var(--color-normal-letters);
    font-size: 1.5rem;
}

.main-content{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 66.65vw;
    margin-bottom: 3rem;
    background-color: var(--color-cover);
    background-image: url(../img/portada.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-content: space-around;
}

.main-content__title{
    font-family: var(--font-family-titles);
    font-size: 2rem;
    color: var(--color-letters-of-cover);
    quotes: "¿" "?";
}

.main-content__title::before{
    content: open-quote;
}

.main-content__title::after{
    content: close-quote;
}

.main-content__call-to-action{
     display: block;
     width: 95%;
     font-family: var(--font-current-family);
     font-size: var(--font-size-normal);
     color: var(--color-cover);
     background-color: var(--color-letters-of-cover);
     border-radius: 10px;
     text-decoration: none;
     text-align: center;
     
}

.article{ 
    display: flex;
    background: var(--color-principal);
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 3rem;
}

.article__title{
    flex: 1 1 100%;
    text-align: center;
    font-family: var(--font-family-titles);
    color: var(--color-normal-letters);
    font-size: 2rem;
    margin-bottom: 0;
}

.article__title--pregunta{
    quotes: "¿" "?";
}

.article__title--pregunta::before{
    content: open-quote;
}

.article__title--pregunta::after{
    content: close-quote;
}

.article__text{
    flex: 1 1 300px;
    font-family: var(--font-current-family);
    font-size: var(--font-size-normal);
    color: var(--color-normal-letters);
    white-space: pre-line;
}

.article__list{
    flex: 1 1 300px;
    font-family: var(--font-current-family);
    font-size: var(--font-size-normal);
    color: var(--color-normal-letters);
}

.article__list > li{
    padding-top: 1rem;     
    font-family: var(--font-current-family);
    font-size: inherit;
    color: var(--color-normal-letters);
}

.article__img{
    width: 100%;
    max-width: 300px;
    height: auto;
    padding-top: 1rem;
}

.article__call-to-action{
     display: block;
     width: 95%;
     font-family: var(--font-current-family);
     color: var(--color-cover);
     font-size: var(--font-size-normal);
     background-color: var(--color-letters-of-cover);
     border-radius: 10px;
     text-decoration: none;
     text-align: center;
}

.article__link{
    color: var(--color-secondary);
    font-size: var(--font-size-normal);
    text-decoration: none;
}

.article___link[href^="https://instagram"]::before{
    content: " ";
    background: center / contain, var(--color-principal);
}

.footer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: var(--color-letters-of-cover);
}

.footer__title{
    font-family: var(--font-family-titles);
    color: var(--color-secondary);
    font-size: 2rem;
    margin-bottom: 0;
}    

.footer__list{
    font-family: var(--font-current-family);
    text-size: var(--font-size-normal);
    color: var(--color-secondary);
    margin-bottom: 1rem;
}

.footer__list > li{
     padding-top: 1rem;
     font-size: var(--font-size-normal);    
     color: var(--color-secondary);
}

.footer__link{
    color: var(--color-principal);
    font-size: var(--font-size-normal);
    text-decoration: none;
}

.footer__isotipo{ 
    font-family: var(--font-isotipo);
    color: var(--color-secundary);
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 0;
}
